body {
	background-color: rgb(27, 27, 27);
	display: flex;
	flex-direction: column;
	font-size: 16px;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body, button, a {
	color: rgb(173, 173, 173);
	font-family: 'Open Sans', sans-serif;
}

#player {
	flex-shrink: 0;
}

#panel {
	flex-grow: 1;
	margin-top: -rem;
	background-color: rgb(39, 39, 39);
	padding: 1rem;
}

button {
	padding: 0.5rem 1rem;
	border: 1px solid rgb(173, 173, 173);
	background: transparent;
	border-radius: 5px;
	cursor: pointer;
}
button:hover, button:active, button:focus {
	background: rgba(173, 173, 173, 0.3);
	outline: none;
}
button[disabled] {
	border-color: #777;
	color: #777;
}
button[disabled]:hover, button[disabled]:active {
	background: transparent;
}

#toolbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 620px;
}

.toolbar-group {
	display: flex;
	align-items: center;
	font-size: 26px;
}
.toolbar-group > * {
	margin-right: 4px;
}
.toolbar-group > *:last-child {
	margin-right: 0;
}

#toolbar button {
	padding: 0;
	width: 36px;
	height: 36px;
	font-size: 21px;
}
#toolbar .big-font {
	font-size: 26px;
}
#toolbar .initial-font {
	font-size: 16px;
}

.toolbar__divider {
	margin-right: 13px;
}

#dark-cover {
	background-color: black;
	opacity: 0;
	position: absolute;
}
#darken {
	position: relative;
}
#darken .details {
	font-size: 70%;
	position: absolute;
	top: 17px;
	left: 26px;
}

#speed {
	width: 29px;
}
#speed .details {
	display: none;
}
#speed.with-value {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	align-items: center;
}
#speed.with-value .details {
	font-size: 70%;
	display: inline;
}

#videos__list {
	list-style: none;
}

.videos__item {
	display: flex;
	align-items: center;
	padding: 10px;
	cursor: pointer;
	text-decoration: none;
}
.videos__item:hover {
	background: #cccccc10;
}
.videos__item--selected {
	background: #cccccc20;
}

.videos__item__image {
	margin: 0 20px;
}

.videos__item__index {
	font-size: 120%;
	opacity: 0.6;
}

.videos__back {
	margin-right: 10px;
}
